* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.navParent {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    height: 5rem;
    align-items: center;
}

header {
    background-color: teal;
    height: 40rem;
}

ul {
    display: flex;
    gap: 1rem;
    /* margin-top: 0.8rem; */
    width: 20rem;
    height: 5rem;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: space-between;
}

li {
    text-decoration: none;
    font-size: 14px;
    color: white;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.Logo {
    font-size: 2rem;
    color: white;
}

.nav-btn {
    border: none;
    background-color: white; 
    border-radius: 1.5rem;
    /* padding: 0.8rem; */
    color: teal;
    font-size: 14px;
    height: 2rem;
    width: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.navLinks {
    display: flex;
    gap: 2rem;
    width: 50%;
    height: 5rem;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
   
    
}

.headerTextarea {
    /* border: 2px solid red; */
    width: 50%;
    height: 21.5rem;
}


.header-fig {
    /* border: 2px solid red; */
    width: 40%;
    height: 21.5rem;
}

.headerParent {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.header-img {
    width: 100%;
    border-radius: 0.5rem;
}

.headerTextarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}


.headerText {
    font-size: 2.5rem;
    color: white;
}

.headerPara {
    color: white;
    font-size: 1.2rem;
    width: 25rem;
}

.ex-btn {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: white;
    color: teal;
}

.con-btn {
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid white;
    color: white;
    background-color: teal;
}

.header-btn {
    display: flex;
    gap: 1rem;
}

main {
    background-color: white;
    height: 40rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid yellow; */
    /* gap: 2rem; */
}

.small {
    color: teal;
    font-weight: bold;

}

.une {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6rem;
    margin-top: 5rem;
    gap: 1rem;
}

.texto {
    width: 35rem;
    font-size: 1.3rem;
    /* border: 2px solid red; */
    margin-left: 12rem;
    color: rgb(63, 61, 61);
}

.banger {
    height: 17rem;
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    gap: 2rem;
    /* padding-left: 2rem */
    justify-content: center;
}

.big {
    /* border: 2px solid rgb(68, 128, 0); */
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.card {
    height: 17rem;
    width: 20%;
    /* border: 2px solid aqua; */
    border-radius: 0.5rem;
    box-shadow: 0.5px 0.5px   lightgrey;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1rem;
    padding-top: 2rem;

}

.cardpic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.anchor {
    /* background-color: bisque; */
    /* border: 2px solid brown; */
    height: 2rem;
    color: teal;
}

.paratext {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1rem;
}

.next{
    width: 100%;
    height: 27rem;
    /* border: 2px solid lightblue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.about-banner{
    /* border: 2px solid black; */
    height: 30rem;
    width: 57%;
    padding: 2rem;
}

.abouttext{
    /* border: 2px solid black; */
    height: 24rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1.5rem;
}
small{
    color: teal;
    font-weight: bold;
}
.we{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
}

.per{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
}

.top{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
    
}

.solutions{
    width: 100%;
    height: 27rem;
    /* border: 2px solid lightblue; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.solutionsText{
    width: 40%;
    height: 23rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.servicestext{
    /* border: 2px solid saddlebrown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.listing{
    /* border: 2px solid purple; */
    /* display: flex; */
    flex-direction: column;
    color: black;
    /* background-color: red; */
    height: 8rem;

}

.ourServices{
    display: flex;
    flex-direction: column;
    /* align-items:flex-start; */
    gap: 2rem;
    justify-content: space-between;
}
.solutionspic{
    width: 56%;
    height: 22rem;
    /* border: 2px solid red; */
}








.stats{
    width: 100%;
    max-width: 800;
    margin: 0 auto;
    height: 15rem;
    background-color: teal;
    border-radius: 5rem;
    border: 2px solid red;
}

/* .last{
    width: 100%;
    height: 40rem;
    border: 2px solid black;
} */

 